.subheader_info {
    font-family: "Roboto_Medium";
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.subheader_text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 540px;
    margin: 0 auto;
}

.project_title {
    font-family: "Roboto_Medium";
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.project_text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.project_text.margin {
    margin-top: 20px;
}